{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content d-flex flex-column">
    <h1 class="d-flex justify-content-center" style="margin-bottom: 40px;">Flasky<span style="color: #FFC118;">DO</span></h1>

    {% if tasks|length < 1 %}

    <h3 class="display-4 d-flex justify-content-center" style="color: #FFC118; text-align: center;">Nothing to do actually.</h3>

    {% else %}

    <table class="d-flex justify-content-center table table-striped table-dark">
        <tr>
            <td>Task</td>
            <td>Added</td>
            <td>Actions</td>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/update/{{ task.id }}" class="btn btn-outline-warning">Update</a>
                    <a href="/delete/{{ task.id }}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST" style="width: 300px; margin:auto; margin-top: 50px;">
        <div class="input-group mb-3">
            <input type="text" name="content" id="content" class="form-control" placeholder="Write your TODO here.." aria-label="Write your TODO here.." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Add" class="btn btn-outline-secondary">
            </div>
        </div>
    </form>

    <div style="margin: auto; margin-top: 50px;">
        <p><span style="color: #FFC118">Created by</span> Rudenko Ruslan @Student</p>
    </div>
</div>
{% endblock %}